<html>
<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Название товара" />
        <input type="text" name="characteristic" placeholder="Описание" />
        <input type="text" name="price" placeholder="Стоимость" />
        <input type="text" name="stock" placeholder="остаток на складе" />
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список товаров</div>
{{#products}}
<div>
    <p>Товар</p>
    <b>{{id}}</b>
    <span>{{name}}</span>
    <span>{{characteristic}}</span>
    <span>{{price}}р.,</span>
    <span> остаток на складе:{{stock}}шт.</span>
    <a href="/products/{{id}}">{{name}}</a>
</div>
{{/products}}
</body>
</html>